In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read("C:\Users\delho\Desktop\UTD-Fall2021\CS-4372-Computational Methods for Data Scientists\Assignments\data\MELBOURNE_HOUSE_PRICES_LESS.csv\MELBOURNE_HOUSE_PRICES_LESS.csv")

# Basic Data Frame exploration

In [ ]:
df.head()

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.dtypes

#Getting value counts of the columns to explore distributions

In [ ]:
df['Rooms'].value_counts()

Here we see that there are a

In [ ]:
df['Regionname'].value_counts()

In [ ]:
df['Type'].value_counts()

In [ ]:
df['CouncilArea'].value_counts()

In [ ]:
df['Method'].value_counts()

# Plotting distributions of all the catefories
*Numerical variables with histograms,
Categorical variables with count plots,
Relationships between numerical variables with scatter plots, joint plots, and pair plots, and
Relationships between numerical and categorical variables with box-and-whisker plots and complex conditional plots.*

Plotting distributions on numerical columns

In [ ]:
#Rooms, Price, PropertyCount, Distance
int_columns = df.select_dtypes("int64").columns
float_columns = df.select_dtypes("float64").columns
number_columns = int_columns.append(float_columns)
number_columns

In [ ]:
#removing postcode
number_columns.remove('Postcode')

Checking for correlations of the categorical variables

In [ ]:
#checking the correlation of the response variable
from scipy.stats import shapiro
resp = df['price']
shapiro(resp[1])

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

# histogram of the Number of rooms
df['Rooms'].plot(kind='hist', color='purple', edgecolor='black', figsize=(10,7))
plt.title('Distribution of Rooms', size=24)
plt.xlabel('Number of rooms', size=18)
plt.ylabel('Frequency', size=18)

I noticed that the number of rooms distribution was not very normal. It is kinda right skewed

In [ ]:

# histogram of the Number of Propertycount
df['Propertycount'].plot(kind='hist', color='purple', edgecolor='black', figsize=(10,7))
plt.title('Distribution of PropertyCount in the neighborhood', size=24)
plt.xlabel('Number of Properties in the neighborhood', size=18)
plt.ylabel('Count', size=18);


# # histogram of the Number of Postcode
# df_no_dups.Bathroom.plot(kind='hist', color='purple', edgecolor='black', figsize=(10,7))
# plt.title('Distribution of Number of Bathrooms', size=24)
# plt.xlabel('Number of Bathrooms', size=18)
# plt.ylabel('Count', size=18)

In [ ]:
# histogram of the Distance to CBD
df['Distance'].plot(kind='hist', color='purple', edgecolor='black', figsize=(10,7))
plt.title('Distribution of Distance of property to CBD', size=24)
plt.xlabel('Distance to CBD', size=18)
plt.ylabel('Count', size=18);

In [ ]:
# histogram of the Distance to CBD
df['Price'].plot(kind='hist', color='purple', edgecolor='black', figsize=(10,7))
plt.title('Distribution of Price', size=24)
plt.xlabel('Distance to CBD', size=18)
plt.ylabel('Count', size=18);

In [ ]:
import seaborn as sns

sns.pairplot(df)

We should ignore postcode on this because it should be treated as a categorical variable.

In [ ]:
print(df['Suburb'].value_counts())

In [ ]:
print(df['Method'].value_counts())

In [ ]:
print(df['Type'].value_counts())

In [ ]:
print(df['Regionname'].value_counts())

#Plotting the numerical Categoris

In [ ]:
import seaborn as sns

In [ ]:
#plotting the standard dataframe
sns.pairplot(df)

In [ ]:
sns.pairplot(df, hue = 'Type')

I noticed that the type = u have a lot fewer rooms and they tend to be lower in price. This makes sense as units such as duplex and townhouses tend to have a  less rooms than houses

The Price count tends to be the highest when the property count is at most of the concentration is at its median as that graph is kinda normal distribution.

I cant really see any correlations between property count and distance. The points are very randomized

One thing that surprised me is that when looking at number of rooms vs price, I did not expect the graph to look like a normal distribution. I thought it would be more skewed because properties with higher number of rooms would be the most expensive.

Price vs distance had a very right skewed distribution. This makes sense as CBD area has a very high property value, so it makes sense that the prices are very expensive when they have a lower distance to CBD.

As the distance increases I noticed the propertyCount in each suburb decreases.

When propertyCount in a suburb is at its mid-range value it is at its highest price.

#plotting the numerical features against price

In [ ]:
#plotting distance against price
sns.scatterplot(x = df['Distance'], y = df['Price'])

After creating a scatter plot of distance vs price, I can see that there is a negative correlation. As distance to CBD increases, the Price decreases

In [ ]:
#plotting distance against price with a joint plot
sns.jointplot(x = df['Distance'], y = df['Price'])

In [ ]:
#plotting distance against price
sns.scatterplot(x= df['Propertycount'], y= df['Price'])

I see outliers that have very high property count. These outliers have a very low price.

In [ ]:
#plotting distance against price
sns.jointplot(x= df['Propertycount'], y= df['Price'])

#Getting rid of duplicates and plotting distributions after removing them

In [ ]:
#check for any duplicate values
dup_values = df[df.duplicated()]
dup_values

In [ ]:
#Removing the duplicate values that we found
df_no_dups = df[~df.duplicated()]

In [ ]:
#checking the shape of the dataframe with no duplicates
df_no_dups.shape[0]

In [ ]:
#chaeckinf the shape of the original dataframe
df.shape[0]

In [ ]:
#reassigning the cleaned dataframe back to the original dataframe

df = df_no_dups

#Changing the data types of certain columns for better exploratory data analysis

In [ ]:
#we should change postcode to Categorical variables instead of numerical type
df['Postcode'].unique()

In [ ]:
df['Postcode'] = df['Postcode'].astype("category")

In [ ]:
df['Postcode']

In [ ]:
#we need to change the string categories to type object
list_object_col = df.select_dtypes("object").columns

In [ ]:
list_object_col

In [ ]:
#changing all the columns with type object as category
df[[i for i in list_object_col]] = df[[i for i in list_object_col]].astype("category")

#Handling Null Values

In [ ]:
#total count of null values in the datafrmae
df.isnull().sum()

In [ ]:
columns = df.columns
columns

In [ ]:
# number of null values in each of the  columns  of the data frame
for i in columns:
    count =0
    k = df[i].isnull()
    for m in k:
        if m == True :
            count = count +1
    print(i ," = ",count)

We use the describe function on the variables that we need to decide what to do with null values

In [ ]:
df['Rooms'].describe()

In [ ]:

df['Type'].value_counts

In [ ]:
df['Method'].describe()

In [ ]:
df['Date'].describe()

In [ ]:
df['Propertycount'].describe()

In [ ]:
df['Distance'].describe()

In [ ]:
df['CouncilArea'].describe()

In [ ]:
df['Price'].describe()

Handlind null values for rooms

In [ ]:
#df['Rooms'].isnull().sum()

In [ ]:
#filling the number of rooms with mode bc mean would not give us integer number
#df['Rooms'].fillna(3.0)

In [ ]:
#df['Rooms'].isnull().sum()

Handling null value for Type category

In [ ]:
#df['Type'].isnull()

In [ ]:
#df.drop(index = 9104)

Handling SellerG column

In [ ]:
#we are just going to drop that row because it is a name

Handling property Count missing value

In [ ]:
#replace property count with median property count in that suburb

Handling Distance column

In [ ]:
#df['Distance'].isnull()

In [ ]:
#replace with mean distance of that suburb
#df['index' == 9104]

In [ ]:
#we

Handling date column

In [ ]:
# we can replace the date column by forward filling it
#df["Ditance"] = data["Dsitance"].fillna(method='ffill')

In [ ]:
#we will just delete this row because it is difficult to replace with the method we have avilable to us

We notice here that only the price column has null values. There are multiple ways that we can handle this. We can use the mean, median, mode. In my case I will be using the mode to fill in those null values in the price column.

In [ ]:
df['Price'] = df["Price"].fillna(830000)

In [ ]:
df.isnull().sum()

# Looking into correlations of the categorical features against the target variable

Features with high correlation are more linearly dependent and hence have almost the same effect on the dependent variable. So, when two features have high correlation, we can drop one of the two features.

We are trying to assess which variables are the most and least correlated to the target(price) variable

In [ ]:
# Deleting address and seller because they are not usedul in predicting our target variable
df = df.drop(['Address', 'SellerG'], axis = 1)

In [ ]:
df.head()

In [ ]:
# Plotting the heatmap to understand the features correlation for houses sold of type h
#fig,ax = plt.subplots(figsize=(15,15))
import seaborn as sns
sns.heatmap(df[df['Type']=='h'].corr(),annot = True)

In [ ]:
#checking the correlations filtering only the houses sold
import seaborn as sns
sns.heatmap(df[df['Type']=='u'].corr(), annot = True)

In [ ]:
df.corr()

In [ ]:
corr_matrix = df.corr()

# Check the how much each attribute correlates with the median house value
corr_matrix['Price'].sort_values(ascending=False)

I noticed that there is a very low correlation between propertyCount and price, so we might want to consider removing propertyCount in the future.

Neighborhoods having a higher propertycount in a neighborhood have a negatice impact on the price. I was also surprised to see that property count of a suburb has a negative correlation with price. This may be due to the fact that suburbs that are nicer might be more sparsely populated, thus leading to have a lower propertyCount. 

It makes sense that there is a negative correlation between distance to CBD and price(Look into if places in CBD are more expensive). 
      -- Might want to look at houses bought that are within 5 miles from CBD and houses that are greater than 5 minutes.

      I was surprised to see a weak positive correlation between room numbers and price. I thought there would be a much stronger correlation as properties

In [ ]:
from pandas.plotting import scatter_matrix

In [ ]:

#we include all the numerical variables except for postcode
attributes = ['Rooms', 'Price',  'Propertycount', 'Distance']
scatter_matrix(df[attributes], figsize=(12,12))

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
colormap = plt.cm.RdBu
plt.figure(figsize=(32,10))
plt.title('Correlation of Features', y=1.05, size=15)
sns.heatmap(df_no_dups.corr(),linewidths=0.1,vmax=1.0, 
            square=True, cmap=colormap, linecolor= 'white', annot=True)

In [ ]:
import seaborn as sns

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
attributes = ['Rooms', 'Price',  'Propertycount', 'Distance']
corr = df[['Rooms', 'Price',  'Propertycount', 'Distance']].corr()

In [ ]:
# plt.figure(figure = (10,6))
# sns.heatmap(corr, annot = True)

In [ ]:
#None of the numerical predictor variables are 
threshold = 0.5
a = abs(corr['Price'])
result = a[a <0.5]
result

We are if any features are highly correlated with each other(to check for multicollinearity). There should be little or no Multicollinearity present in the data is an assumption for linear regression.

In [ ]:
df[['Rooms', 'Propertycount']].corr()

In [ ]:
df[['Rooms', 'Distance']].corr()

In [ ]:
df[['Propertycount', 'Distance']].corr()

I do not see any concerns for multicollinearity between categorical variables.

#Backwards elimination to assess what features to keep for our model

In [ ]:
pip install statsmodels

In [ ]:
pip install statsmodels --upgrade

In [ ]:
import pandas as pd
#import statsmodel.api as sm

In [ ]:
from statsmodels import api as sm

In [ ]:
X = df[['Rooms', 'Propertycount', 'Distance']]
y = df['Price']

In [ ]:
#Adding constant column of ones, mandatory for sm.OLS model
X_1 = sm.add_constant(X)
#Fitting sm.OLS model
model = sm.OLS(y,X_1).fit()
model.pvalues

Because none of the p-values are greater than 0.05, I do not see any reason to remove any of the variables

In [ ]:
cols = list(X.columns)
pmax = 1
while (len(cols) > 0):
  p = []
  x_1 = X[cols] 
  x_1 = sm.add_constant(x_1)
  model = sm.OLS(y, x_1).fit()
  p = pd.Series(model.pvalues.values[1:])
  pmax = max(p)
  features_with_p_max = p.idxmax()
  if(pmax > 0.05):
    cols.remove(features_with_p_max)
  else:
    break

In [ ]:
selected_features = cols
print(selected_features)

In [ ]:
#We did not remove any of the numerical features here

#Analyzing Postcode category

Lets see which postcode has the most transcations, and see the avergae price of the most popular and least popular postcodes. We can also see the average distance for each postcode category

In [ ]:
#
df['Postcode'].value_counts(ascending = False)

In [ ]:
#applying the value counts on Distance(numeric column)
df['Distance'].value_counts(ascending = False)

In [ ]:
#lets try to explore the top postcodes in our dataframe
df_top_post = df[(df.Postcode == 3073) | (df.Postcode == 3150) | (df.Postcode == 3064) | (df.Postcode == 3121) | (df.Postcode == 3046)]

In [ ]:
df_top_post.describe()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#L plot the distance 
plt.figure(figsize=(8,5))
sns.barplot(x='Postcode',y = 'Distance',data= df_top_post, palette='rainbow')
plt.title("Fare of Passenger by Embarked Town, Divided by Class")

In [ ]:
#making a boxplot
plt.figure(figsize=(16,15))

sns.scatterplot(x = df_top_post['Postcode'], y = df_top_post['Distance'], data=df)
plt.title("Distance to CBD of top")
#figure out how to label box plot points with the x-value on graph

In [ ]:
#L plot the distance 
plt.figure(figsize=(16,15))
sns.barplot(x=df_top_post['Postcode'],y=df_top_post['Distance'],data = df_top_post, palette='rainbow', hue='Type')
plt.title("Distance to CBD of top")

In [ ]:
plt.figure(figsize=(12,8))

sorted_nb = df_top_post.groupby(['Postcode'])['Price'].median().sort_values()
sns.boxplot(x=df_top_post['Postcode'], y=df_top_post['Price'], order=list(sorted_nb.index))
plt.title("boxplot of")

Exploring the least popular postcodes against distance to see how far away from CBD the least amount of people live

In [ ]:
#lets explore the bottom postcodes against 
df_bottom_post = df[(df.Postcode == 3114) | (df.Postcode == 3759) | (df.Postcode == 3755) | (df.Postcode == 3791) | (df.Postcode == 3795)]

In [ ]:
df_bottom_post['Postcode'].unique()

In [ ]:
df_bottom_post

In [ ]:
#making a boxplot
plt.figure(figsize=(16,15))

sns.barplot(x= df_bottom_post['Postcode'], y=df_bottom_post['Distance'], data=df)
plt.title("Distance to CBD of top")

Distance to CBD is a lot higher in the least popular Postcodes. This makes sense as more people would want to live closer to CBD.

In [ ]:
#L plot the distance 
plt.figure(figsize=(16,15))
sns.barplot(x=df_bottom_post['Postcode'],y=df_bottom_post['Distance'],data = df_bottom_post, palette='rainbow', hue='Type')
plt.title("Distance to CBD of top")

In [ ]:
#Creating a swarm plot
plt.figure(figsize=(12,8))
sns.stripplot(x = df_bottom_post['Postcode'], y = df_bottom_post['Distance'], data=df_bottom_post, jitter=True, hue='Type', dodge=True, palette='viridis')

In [ ]:
plt.figure(figsize=(12,8))

sorted_nb = df_bottom_post.groupby(['Postcode'])['Price'].median().sort_values()
sns.boxplot(x=df_bottom_post['Postcode'], y=df_bottom_post['Price'], order=list(sorted_nb.index))
plt.title("boxplot of")

comparing the summary statistics of both subsetted data frames

In [ ]:
df_bottom_post.describe()

In [ ]:
df_top_post.describe()

Comparing these two tells us a lot of things. I mostly compared the min, max, and median of each variable across the respective dataset to see how the other numeric features varied for the most popular post codes and the least popular post codes

I noticed that the median nuumber of rooms is a lot popular in the top post codes data set. This makes sense from our plots becasue those post codes in the top data set are a lot closer to CBD which is high in property value. Thus it makes sense that these properties would have less rooms.

It also makes sense that there is a DRASTIC difference in price. This is due to the distance to CBD. 

Property Count is also a higher in the top_post_codes. Which makes sense because suburbsnear CBD would be a lot more dense

# Looking into Distance category

Lets subset the data for distance <5 and distance >=5 and look at features such as propertyCount, price

In [ ]:
df_close_dist = df[df['Distance'] < 5]
df_close_dist.head()

In [ ]:
df_close_dist

In [ ]:
df_close_dist['Distance'].value_counts(bins = True) #Not too sure what this represents

In [ ]:
df_close_dist.describe()

Subsetting the distance for >= 5 miles away from CBD

In [ ]:
df_far_dist = df[df['Distance'] >= 5]
df_far_dist.head()

In [ ]:
df_far_dist.describe()

In [ ]:
df_close_dist.describe()

As we can see here, the mean price varies drastically between each respective subsetted dataset.
The rooms is also higher for the close distance which also makes sense.

#Getting rid of outliers

Getting rid of outliers for Price and plotting both of the distributions

We will run the algorithm with and without the outliers

In [ ]:
#Getting rid of outliers in the price column
import seaborn as sns
import matplotlib.pyplot as plt
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3-Q1
Lower_Whisker = Q1 - 1.5*IQR
Upper_Whisker = Q3 + 1.5*IQR

In [ ]:
df_price_outliers_lower = df[(df['Price'] < Lower_Whisker)]
df_price_outliers_upper = df[(df['Price'] > Upper_Whisker)]

In [ ]:
import pandas as pd
df_price_outliers = pd.concat([df_price_outliers_lower, df_price_outliers_upper])

In [ ]:
df_price_outliers

we have 5322 entries that are outliers for price

In [ ]:
#hosting all the outliers into a dataframe to plot
#df_price_outliers = df[(df['Price'] < Lower_Whisker) or (df['Price'] > Upper_Whisker)]


#Plotting the price distribution without outliers 

plt.figure(figsize=(10,5))
sns.distplot(df['Price'], hist=True, kde = False, color = 'blue')
plt.ylabel('Counts')

In [ ]:
#original dataset getting rid of outliers
# = df.drop(df_price_outliers.index)

In [ ]:
#Plotting the distribtuion without the outliers 

plt.figure(figsize=(10,5))
sns.distplot(df_no_out['Price'],hist=True, kde=False, color='blue')
plt.ylabel('Counts')

In [ ]:
#reassign the dataframe without 
#df = df_no_out

Plotting the distributions of room numbers with and without outliers

In [ ]:
#Get outliers for  room numbers
import seaborn as sns
import matplotlib.pyplot as plt
Q1 = df['Rooms'].quantile(0.25)
Q3 = df['Rooms'].quantile(0.75)
IQR = Q3-Q1
Lower_Whisker = Q1 - 1.5*IQR
Upper_Whisker = Q3 + 1.5*IQR

In [ ]:
df_rooms_outliers_lower = df[(df['Rooms'] < Lower_Whisker)]
df_rooms_outliers_upper = df[(df['Rooms'] > Upper_Whisker)]
df_rooms_outliers = pd.concat([df_rooms_outliers_lower, df_rooms_outliers_upper])

In [ ]:
#plotting  outliers for number of rooms
#df_rooms_outliers = df[(df['Rooms'] < Lower_Whisker) or (df['Rooms'] > Upper_Whisker)]
plt.figure(figsize=(10,5))
sns.distplot(df['Rooms'], hist=True, kde=False, color='blue')
plt.ylabel('Counts')

In [ ]:
#df_no_out = df.drop(df_rooms_outliers.index)

In [ ]:
#plotting without outliers
plt.figure(figsize=(10,5))
sns.distplot(df_no_out['Rooms'],hist=True, kde=False, color='blue')
plt.ylabel('Counts')

Our graph looks a lot more normally distributed now.

Plotting the distributions of PropertyCount with and without outliers

In [ ]:
#Get rid of outliers as  Propertycount
import seaborn as sns
import matplotlib.pyplot as plt
Q1 = df['Propertycount'].quantile(0.25)
Q3 = df['Propertycount'].quantile(0.75)
IQR = Q3-Q1
Lower_Whisker = Q1 - 1.5*IQR
Upper_Whisker = Q3 + 1.5*IQR

In [ ]:
df_prop_outliers_lower = df[(df['Propertycount'] < Lower_Whisker)]
df_prop_outliers_upper = df[(df['Propertycount'] > Upper_Whisker)]
df_prop_outliers = pd.concat([df_rooms_outliers_lower, df_rooms_outliers_upper])

In [ ]:
plt.figure(figsize=(10,5))
sns.distplot(df['Propertycount'], hist = True, kde = False, color = 'blue')
plt.ylabel('Counts')

In [ ]:
# #Get rid of outliers as Distance
# import seaborn as sns
# import matplotlib.pyplot as plt
# Q1 = df['Distance'].quantile(0.25)
# Q3 = df['Distance'].quantile(0.75)
# IQR = Q3-Q1
# Lower_Whisker = Q1 - 1.5*IQR
# Upper_Whisker = Q3 + 1.5*IQR
# df = df[(df['Distance'] > Lower_Whisker)&(df['Distance'] < Upper_Whisker)]
# plt.figure(figsize=(10,5))
# sns.distplot(df['Distance'], hist=True, kde=False, color='blue')
# plt.ylabel('Counts')

In [ ]:
#df_no_out = df.drop(df_prop_outliers.index)

In [ ]:
#plotting without outliers
plt.figure(figsize=(10,5))
sns.distplot(df_no_out['Propertycount'],hist=True, kde=False, color='blue')
plt.ylabel('Counts')

Getting rid of outliers for Distance

In [ ]:
#Get rid of outliers as  Propertycount
import seaborn as sns
import matplotlib.pyplot as plt
Q1 = df['Distance'].quantile(0.25)
Q3 = df['Distance'].quantile(0.75)
IQR = Q3-Q1
Lower_Whisker = Q1 - 1.5*IQR
Upper_Whisker = Q3 + 1.5*IQR

In [ ]:
df_Dist_outliers_lower = df[(df['Distance'] < Lower_Whisker)]
df_Dist_outliers_upper = df[(df['Distance'] > Upper_Whisker)]
df_Dist_outliers = pd.concat([df_Dist_outliers_lower, df_Dist_outliers_upper])

In [ ]:
plt.figure(figsize=(10,5))
sns.distplot(df['Distance'], hist = True, kde = False, color = 'blue')
plt.ylabel('Counts')

In [ ]:
#plotting without outliers
plt.figure(figsize=(10,5))
sns.distplot(df_no_out['Distance'],hist=True, kde=False, color='blue')
plt.ylabel('Counts')

Getting rid of all the outliers from all the numerical features

In [ ]:
#concatening all the outliers and then dropping them 
df_all_outliers = pd.concat(df_price_outliers, df_rooms_outliers, df_prop_outliers, df_Dist_outliers)
df.drop(df_all_outliers, axis = 1)

#Exploring Distance variation against other features

---

# EDA with Dates

In [ ]:
import pandas as pd

In [ ]:
#convert to datetime
df['Date']= pd.to_datetime(df['Date'])

In [ ]:
df.head()

In [ ]:
type(df['Date'])

In [ ]:
#df['Date'] = df['Date'].astype('DatetimeIndex')

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
type(df['Date'])

In [ ]:
df.info()

In [ ]:
min_date = min(df['Date'])

In [ ]:
max_date = max(df['Date'])

In [ ]:
max_date - min_date

In [ ]:
df['weekday'] = df['Date'].dt.dayofweek
#converts to day of the week with monday being zero

In [ ]:
df.head()

In [ ]:
#f[df['Date'] == '2017-01-08']

In [ ]:
#This will help us visualize which dates are the most common(Which dates had the most number of transactions)
df['Date'].value_counts().sort_values().plot.line()

#Using Resampleing method to aggregate my Month and year

we can see see the total number of transactions by month, week, day had the highest number of transactions.

In [ ]:
df['Date'].value_counts().resample('D').sum().plot.line()

In [ ]:
#highest number of transactions in one day
max(df['Date'].value_counts().resample('D').sum())

In [ ]:
df.info()

In [ ]:
min(df['Date'].value_counts().resample('D').sum())

In [ ]:
df['Date'].value_counts().resample('W').sum().plot.line()

In [ ]:
df['Date'].value_counts().resample('SM').sum().plot.line()

In [ ]:
df['Date'].value_counts().resample('M').sum().plot.line()

In [ ]:
df['Date'].value_counts().resample('SM').sum().plot.line()

Using resampling to see Average price agregated by Day, month, week etc.

In [ ]:
df.info()

In [ ]:
#getting the average price of houses by day
df['Date'].resample('D').Price.plot.bar()

In [ ]:
#getting average prices of houses by week
df['Date'].resample('W').Price.mean().plot.bar()

In [ ]:
#getting average prices of houses my month
df['Date'].resample('M').Price.mean().plot.bar()

In [ ]:
#getting average prices of houses my SM
df['Date'].resample('SM').Price.mean().plot.bar()

## Using resmapling to see the total sum of prices for the houses aggregated by Day, month, week, SM

In [ ]:
#Using resampling to see the total sum of Price
df['Date'].resample('D').Price.sum().plot.bar()

In [ ]:
df['Date'].resample('W').Price.sum().plot.bar()

In [ ]:
df['Date'].resample('M').Price.sum().plot.bar()

In [ ]:
df['Date'].resample('SM').Price.sum().plot.bar()

Using resampling to see the mean distance aggregated by day, week, month

In [ ]:

# #By calendar day
# df['Date'].resample('D').Distance.mean().plot.bar()

# #By calendar week()
# df['Date'].resample('W').Distance.mean().plot.bar()

# #By calendar Month
# df['Date'].resample('M').Distance.mean().plot.bar()


# #By calendar Quarter
# df['Date'].resample('Q').Distance.mean().plot.bar()

Exploratory Data analysis Agrregating on Data

In [ ]:
df_no_dups['Date']= pd.to_datetime(df_no_dups['Date'],dayfirst=True)

In [ ]:
# Grouping the Type features by Date
var = df_no_dups[df_no_dups['Type']=='h'].sort_values('Date',ascending=False).groupby('Date').std()
count = df_no_dups[df_no_dups['Type']=='h'].sort_values('Date',ascending=False).groupby('Date').count()
mean = df_no_dups[df_no_dups['Type']=='h'].sort_values('Date',ascending=False).groupby('Date').mean()

In [ ]:
var

In [ ]:
count

In [ ]:
mean

In [ ]:
# Average Price marked by varaince by comparing with different date or time when the houses were sold
mean["Price"].plot(yerr=var["Price"],ylim=(400000,1500000))

In [ ]:
# Plotting average Landsize marked by variance in price
mean["Propertycount"].plot(yerr=var["Price"])

In [ ]:
#Explore Region Name against other variables
#Group all the features by Regionname for the houses of type h and Distance less than 14 kms from CBD.
feature_region_mean= df_no_dups[(df_no_dups['Type']=='h')&(df_no_dups['Distance']<14)].sort_values('Date',ascending=False).dropna().groupby('Regionname').mean()
feature_region_std= df_no_dups[(df_no_dups['Type']=='h')&(df_no_dups['Distance']<14)].sort_values('Date',ascending=False).dropna().groupby('Regionname').std()

In [ ]:
# Plotting the avregae price of house sold by Regionname
feature_region_mean['Price'].plot(kind='bar',figsize =(15,8))

In [ ]:
feature_region_mean['Rooms'].plot(kind='bar',figsize =(15,8))

In [ ]:
feature_region_mean['Propertycount'].plot(kind='bar',figsize =(15,8))

In [ ]:
# Looking at the average price range in suburb for houses sold in Southern Metropolitan
feature_SouthernM = df_no_dups[(df_no_dups['Regionname']=='Southern Metropolitan')& 
                               (df_no_dups['Type']=='h') & 
                                (df_no_dups['Distance']<=14)].sort_values('Date',ascending=False).groupby('Suburb').mean()

In [ ]:
feature_SouthernM['Price'].plot(kind='bar',figsize=(20,10))

In [ ]:
#Analyzing Average no. of rooms and Distance for each of the Suburb in Southern Metropolitan Region
feature_South_Suburb = df_no_dups[(df_no_dups['Regionname']=='Southern Metropolitan')& 
                               (df_no_dups['Type']=='h') & 
                                (df_no_dups['Distance']<=14)].sort_values('Date',ascending=False).groupby('Suburb').agg({'Rooms':'median','Distance':'mean'})

In [ ]:
feature_South_Suburb

In [ ]:
#Analyzing Average no. of rooms and Distance for each of the Suburb in Western Metropolitan Region
feature_West_Suburb = df_no_dups[(df_no_dups['Regionname']=='Western Metropolitan')& 
                               (df_no_dups['Type']=='h') & 
                                (df_no_dups['Distance']<=14)].sort_values('Date',ascending=False).groupby('Suburb').agg({'Rooms':'median','Distance':'mean'})

In [ ]:
feature_West_Suburb

#Plotting distribution of categorical columns and price

In [ ]:

#Plotting the region name and price
plt.figure(figsize=(12,6))
sns.boxplot('Regionname', 'Price', data=df, width=0.3, palette="Set2")
plt.xticks(rotation=45)
df['Regionname'].value_counts()

In [ ]:
#Plotting the CouncilArea and price
plt.figure(figsize=(12,6))
sns.boxplot('CouncilArea', 'Price', data=df, width=0.3, palette="Set2")
plt.xticks(rotation=45)
df['CouncilArea'].value_counts()

In [ ]:
#Plotting the CouncilArea and price
plt.figure(figsize=(12,6))
sns.boxplot('CouncilArea', 'Price', data=df, width=0.3, palette="Set2")
plt.xticks(rotation=45)
df['CouncilArea'].value_counts()

In [ ]:
#Type and price
plt.figure(figsize=(10,5))
sns.boxplot('Type', 'Price', data=df, width=0.3, palette="Set2")
df['Type'].value_counts()

In [ ]:
#Suburb vs price
plt.figure(figsize=(10,5))
sns.boxplot('Suburb', 'Price', data=df, width=0.3, palette="Set2")
df['Suburb'].value_counts()

Boxplots/subplots

In [ ]:
# #exploring the type variable  and house prices
# fig, ax = plt.subplots()
# ax.hist(df[df["Type"]=='h']["Price"], bins=15, alpha=0.5, color="blue", label="survived")
# ax.hist(df[df["Type"]=='u']["Price"], bins=15, alpha=0.5, color="green", label="did not survive")
# ax.hist(df[df["Type"]=='t']["Price"], bins=15, alpha=0.5, color="red", label="did not survive")


# ax.set_xlabel("Count of house Type")
# ax.set_ylabel("Price")

# fig.suptitle("House Type vs Price")

# ax.legend();

In [ ]:
# import seaborn as sns

# #
# sns.boxplot(data = df, x='Price', y='Price')

In [ ]:
# #CHANGE ALL THE VARIABLES 

# fig = plt.figure(figsize = (15,10))

# ax1 = fig.add_subplot(2,3,1)
# sns.countplot(data = ds_cat, x = '', ax=ax1)

# ax2 = fig.add_subplot(2,3,2)
# sns.countplot(data = ds_cat, x = 'LotShape', ax=ax2)

# ax3 = fig.add_subplot(2,3,3)
# sns.countplot(data = ds_cat, x = 'LotConfig', ax=ax3)

# ax4 = fig.add_subplot(2,3,4)
# sns.boxplot(data = ds_cat, x = 'MSZoning', y = 'SalePrice' , ax=ax4)
# #sns.violinplot(data = ds_cat, x = 'MSZoning', y = 'SalePrice' , ax=ax4)
# #sns.swarmplot(data = ds_cat, x = 'MSZoning', y='SalePrice', color = 'k', alpha = 0.4, ax=ax4  )

# ax5 = fig.add_subplot(2,3,5)
# sns.boxplot(data = ds_cat, x = 'LotShape', y = 'SalePrice', ax=ax5)
# #sns.violinplot(data = ds_cat, x = 'LotShape', y = 'SalePrice', ax=ax5)
# #sns.swarmplot(data = ds_cat, x = 'LotShape', y='SalePrice', color = 'k', alpha = 0.4, ax=ax5  )

# ax6 = fig.add_subplot(2,3,6)
# sns.boxplot(data = ds_cat, x = 'LotConfig', y = 'SalePrice', ax=ax6)
# #sns.violinplot(data = ds_cat, x = 'LotConfig', y = 'SalePrice', ax=ax6)
# #sns.swarmplot(data = ds_cat, x = 'LotConfig', y='SalePrice', color = 'k', alpha = 0.4, ax=ax6  )

# `Label Enconding using dummies variable

In [ ]:
# we can use below varibel for standaraized purpose

# Distance , Landsize, Lattitude , Longtitude

In [ ]:
# Convertig Object columns to dummies
#too many different suburbs so we are not including that into our linear regression model(difficult for encoding)
df_dummies = pd.get_dummies(df[['Type','Method','CouncilArea','Regionname']])

In [ ]:
df_dummies

In [ ]:
#converting the df_dummies variables to numeric

In [ ]:
df_dummies.astype('int64')

In [ ]:
df_dummies.info()

In [ ]:
df.columns

In [ ]:
#Dropping the old columns which have been converted to dummies and creating a new dataframe
df.drop(['Suburb','Type','Method','CouncilArea','Regionname'],axis=1,inplace=True)
df=df.join(df_dummies)

In [ ]:
df.head(5)

# Splitting the data into train and test dataset

We should perform feature normalisation over the training data. Then perform normalisation on testing instances as well, but this time using the mean and variance of training explanatory variables. In this way, we can test and evaluate whether our model can generalize well to new, unseen data points.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# We specify this so that the train and test data set always have the same rows, respectively
np.random.seed(0)
df_train, df_test = train_test_split(df, test_size = 0.2, random_state = 42)

In [ ]:
df_train.shape[0]

In [ ]:
df_test.shape[0]

In [ ]:
df_test.head()

In [ ]:
df_train.head()

# Standardize the numerical variables

Standardize the variables and then calculate correlation again to see if we have better correlations with the predictor featires and the target variable

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

We do not standardize labels that we created from label encoding. Apply standard scaler to all the other numerical variables that were not label encoded and we need to scale the target variable as well.

In [ ]:
# Apply scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['Rooms', 'Price' , 'Propertycount', 'Distance']

df_train[num_vars] = scaler.fit_transform(df_train[num_vars])

In [ ]:
df_train.head()

In [ ]:
df_train.describe()

In [ ]:
# Let's check the correlation coefficients to see which variables are highly correlated

# plt.figure(figsize = (16, 10))
# sns.heatmap(df_train.corr(), annot = True, cmap="YlGnBu")
# plt.show()

# Model Building

AFTER Running the linear regression model get rid of variables with very low correlation to the price and run the model again to see if we get better results

In [ ]:
# RFE -Removing features of low importance can improve accuracy, and reduce both model complexity and overfitting.

In [ ]:
#splitting the training dataset into target and predictors(x and y)
y_train = df_train.pop('Price') #pop selects that varirable 
X_train = df_train

In [ ]:
# Importing RFE and LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [ ]:
#Creating a linear regression object and passing in the training data for it
lm = LinearRegression()
lm.fit(X_train, y_train)

In [ ]:
#implementing RFE(Recursive feature eleimination)
# Running RFE with the output number of the variable equal to 10

rfe = RFE(lm, 6)             # running RFE
rfe = rfe.fit(X_train, y_train)

In [ ]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

In [ ]:
col = X_train.columns[rfe.support_]
col

In [ ]:
X_train.columns[~rfe.support_]


# Building model using statsmodel, for the detailed statistics

In [ ]:
# Creating X_test dataframe with RFE selected variables
X_train_rfe = X_train[col]

In [ ]:
# Adding a constant variable 
import statsmodels.api as sm  
X_train_rfe = sm.add_constant(X_train_rfe)

In [ ]:
lm = sm.OLS(y_train,X_train_rfe).fit()   # Running the linear model

In [ ]:
#Let's see the summary of our linear model
#this will print out statistical measure such as 
print(lm.summary())

#RESIDUAL ANALYSIS

#We need to standardize the test data as well to be able to compare it to the preddicted values from the training data

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [ ]:
# Apply scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['Rooms', 'Price', 'Propertycount', 'Distance']

df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

In [ ]:
df_test.head()

#RESIDUALS

In [ ]:
#So, now to check if the error terms are also normally distributed (which is infact, one of the major assumptions of linear regression), let us plot the histogram of the error terms and see what it looks like.

In [ ]:
y_train_price = lm.predict(X_train_rfe)

In [ ]:
res = (y_train_price - y_train)

In [ ]:
# Importing the required libraries for plots.
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Plot the histogram of the error terms
fig = plt.figure()
sns.distplot((y_train - y_train_price), bins = 20)
fig.suptitle('Error Terms', fontsize = 20)                  # Plot heading 
plt.xlabel('Errors', fontsize = 18)

In [ ]:
plt.scatter(y_train,res)
plt.show()

Here we check to see if the residual values have a normal distribution

# Model Evaluation

We need to first scale the test data before doing model evaluation

In [ ]:
# Apply scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['Rooms', 'Price', 'Propertycount', 'Distance']

In [ ]:
df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

In [ ]:
#Dividing the data into y(target) and x(predictor variables)
y_test = df_test.pop('price')
X_test = df_test

In [ ]:
# Now let's use our model to make predictions.
# Creating X_test_new dataframe by dropping variables from X_test
X_test_rfe = X_test[X_train_rfe.columns]

In [ ]:
# Making predictions
y_pred = lm.predict(X_test_rfe)

In [ ]:
from sklearn.metrics import r2_score 
r2_score(y_test, y_pred)

In [ ]:
# Plotting y_test and y_pred to understand the spread.
fig = plt.figure()
plt.scatter(y_test,y_pred)
fig.suptitle('y_test vs y_pred', fontsize=20)              # Plot heading 
plt.xlabel('y_test', fontsize=18)                          # X-label
plt.ylabel('y_pred', fontsize=16)                          # Y-label

# Using Backwards elimination on our linear regression model

We use backwards elminiation to help give us a good idea of the best predictor variables to include in our dataset.

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(
        x, y, test_size = 0.3, random_state = 0)
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x_train, y_train)
pred = lm.predict(x_test)

In [ ]:
#predicting the test set
y_pred = lm.predict(x_test)

In [ ]:
#predicting the 
print("Prediction for test set: {}".format(pred))

In [ ]:
#Actual value and the predicted value
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
mlr_diff.head()

In [ ]:
import statsmodels.regression.linear_model as sm
# add a column of ones as integer data type
x = np.append(arr = np.ones((50, 1)).astype(int), 
              values = x, axis = 1)
# choose a Significance level usually 0.05, if p>0.05
#  for the highest values parameter, remove that value
x_opt = x[:, [0, 1, 2, 3, 4, 5]]
ols = sm.OLS(endog = y, exog = x_opt).fit()
ols.summary()

In [ ]:
# remove the 4th column as it has the highest value
x_opt = x[:, [0, 1, 2, 3, 5]]
ols = sm.OLS(endog = y, exog = x_opt).fit()
ols.summary()
  
# remove the 5th column as it has the highest value
x_opt = x[:, [0, 1, 2, 3]]
ols = sm.OLS(endog = y, exog = x_opt).fit()
ols.summary()
  
# remove the 3rd column as it has the highest value
x_opt = x[:, [0, 1, 2]]
ols = sm.OLS(endog = y, exog = x_opt).fit()
ols.summary()
  
# remove the 2nd column as it has the highest value
x_opt = x[:, [0, 1]]
ols = sm.OLS(endog = y, exog = x_opt).fit()
ols.summary()

Getting the intercept and Coefficient

In [ ]:
print("Intercept: ", lm.intercept_)
print("Coefficients:")
list(zip(x, lm.coef_))

Model Evaluation

In [ ]:
#Model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)